.txt
{
  font-size: 45px;
  color:#303F9F;
  font-weight: bolder;
}
.wrap
{
  width: 90%;
  max-width: 500px;
  padding: 40px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 0px 3px grey;
}
.contenedor-formulario
{
  width: 100%;
  color: #f2f2f2;
  padding: 50px;
}
.contenedor-formulario .formulario
{
   width: 100%;
   margin: auto;
}
.contenedor-formulario .formulario .input-group
{
    position: relative;
    margin-bottom: 32px;
}
.contenedor-formulario .formulario .input-group input[type="text"],.contenedor-formulario .formulario .input-group input[type="email"],.contenedor-formulario .formulario .input-group input[type="password"] 
{
    font-family: "Roboto";
    font-size: 16px;
    color: #303F9F;
    width: 100%;
    outline: none;
   	padding: 15px;
    background: none;
    border: none;
    border-bottom: 2px solid #BBDEFB;
}
.contenedor-formulario .formulario .input-group input[type="text"]:focus, .contenedor-formulario .formulario .input-group input[type="text"]:active,.contenedor-formulario .formulario .input-group input[type="email"]:focus,.contenedor-formulario .formulario .input-group input[type="email"]:active,.contenedor-formulario .formulario .input-group input[type="password"]:focus,.contenedor-formulario .formulario .input-group input[type="password"]:active
{
    outline: none;
    border-bottom: 2px solid #303F9F; 
}
.contenedor-formulario .formulario .input-group input[type="text"].error,.contenedor-formulario .formulario .input-group input[type="email"].error,.contenedor-formulario .formulario .input-group input[type="password"].error
{
    border-bottom: 2px solid #D32F2F;
}
.contenedor-formulario .formulario .input-group input[type="text"].error + label,.contenedor-formulario .formulario .input-group input[type="email"].error + label,.contenedor-formulario .formulario .input-group input[type="password"].error + label 
{
    color: #D32F2F;
}
.contenedor-formulario .formulario .input-group label
{
    color: #303F9F;
}
.contenedor-formulario .formulario .input-group label.label
{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-left: 15px;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    top: 16px;
    left: 0;
}
.contenedor-formulario .formulario .input-group label.label.active
{
    top: -12px;
    font-size: 12px;
    line-height: 12px;
    color: #B6B6B6;
}
.contenedor-formulario .formulario .input-group.error label
{
    color: #D32F2F;
}
.contenedor-formulario .formulario .input-group.error label:hover 
{
    background: rgba(211, 47, 47, 0.2);
}
.contenedor-formulario .formulario .input-group.error label:before
{
    border: 2px solid #D32F2F;
}
.contenedor-formulario .formulario input[type="submit"]
{
    background: #303F9F;
    border-radius: 1px;
    border: 2px solid #f2f2f2;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto";
    font-size: 16px;
    padding: 15px;
    width: 100%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.contenedor-formulario .formulario input[type="submit"]:hover
{
    background: #1976D2;
}
#contact-form
{
  background:#E2D91E;
}
#contact
{
  width: 100%;
  background:#E2BE1E;
}
.errores
{
  background-color: #BC1010;
  padding: 6px 12px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  margin-left: 486px;
  margin-top: -75px;
  position: absolute;
  display: none;
}
.errores:before
{
  content: '';
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #BC1010;
  border-left: 8px solid transparent;
  left: -16px;
  position: absolute;
  top:5px;
}